section a:hover{ text-decoration: underline; }
svg:hover{ cursor: pointer; }

.avability{
    color: rgb(87, 185, 162);
    font-size: 1.2rem;
}

.padding-2vw{ padding: 1.5vw; }
.padding_pct{ padding: 1.34% 2.5%; }

.font-size_1-2rem{ font-size: 1.2rem; }
.font-size_1rem{ font-size: 1rem; }

.margin-right-1-5vw{ margin-right: 1.5vw; }
.margin_pret{ margin-left: 7vw; }
.margin_total{ margin-left: 4.7vw; margin-right: 1.95vw; }

#info_dress{ width: 65%; }
.finish_order{
    width: 30%;
    height: fit-content;
    border: 2px solid black;
    padding: 2vw 2.5vw;
    font-size: 0.8rem;
}
.finish_order hr{
    background: lightgray;
    height: 3px;
}
.finish_order > input[type=submit]{
    width: 100%;
    border-radius: 0;
    text-transform: uppercase;
}

/* ______________________________________________________________________________ */


.titles{
    font-family: 'Roboto Slab', serif;
    font-size: 0.9rem;
    border-top: 2px solid lightgray;
    border-bottom: 2px solid lightgray;
}

/* ______________________________________________________________________________ */

.dress{ 
    width: 100%;
    margin: 2vh 0;
    font-size: 0.668rem;
}
.dress_first_div{ width: 30vw; }
.dress img{
    width: 38%;
    height: 25vh;
    border: 2px solid lightgray;
    padding: 0.27vw;
    margin-right: 2vw;
}

.dress_info  h2 b{ margin-right: 0.4vw; }
.dress_info  h2:first-of-type{ font-size: 1.2rem; }
.dress_info  h2:first-of-type b{ margin-right: 0; }
.dress_info h3{ 
    font-size: 0.8rem;
    margin-bottom: 0.65vh;
    border-bottom: 2.1px solid white;
}
.dress_info  h3:hover{
    cursor: pointer;
    transition: 1s ease;
    color: rgb(211, 137, 0);
    border-color: orange;
}
.dress_info h3:hover svg{ 
    transition: 1s ease; 
    color: brown; 
}

.dress svg{ 
    height: 1.5vh; 
    margin-right: 0.5vw;
}

.dress_info h2:first-of-type, .dress_info h2:last-of-type{
    margin-bottom: 2vh;
}

.quantity button, .quantity input{
    width: 2.7vw;  
    height: 4vh;
    border: 2px solid rgb(235, 235, 235); 
}
.quantity button{
    background: rgb(247, 247, 247);
    font-size: 1.2rem;
    font-weight: bold;
}
.quantity input{
    width: 4vw;
    border-left: none;
    border-right: none;
    font-size: 0.8rem;
    font-weight: bolder;
    text-align: center;
}


@media screen and (max-width: 1140px){
    .margin_pret{ margin-left: 11vw; }
    .margin_total{ margin-left: 12vw; margin-right: 1.95vw; }

    section.padding_0-3pr{
        flex-direction: column;
    }
    #info_dress{ width: 100%; }
    .dress_first_div{ width: 40vw; }

    section.padding_0-3pr aside{
        width: 55%;
        margin: 0 auto;
    }
}

@media screen and (max-width: 1140px){
    /* .margin_pret{ margin-left: 0vw; } */
    .margin_total{ margin-left: 12vw; margin-right: 1.95vw; }

    .dress_first_div{ width: 45vw; }
}

@media screen and (max-width: 640px){
    .margin_pret{ margin-left: 6vw; }
    .margin_total{ margin-left: 6vw; margin-right: 1.95vw; }

    #info_dress svg{ height: 1.6vh !important; }

    .dress_first_div{ width: 55vw; }
}

@media screen and (max-width: 450px){
    .dress_first_div {
        width: 50vw;
    }
    .dress img{ 
        width: 60%;
        height: 30vh;
        margin-left: 6.5vw;
    }
}